<div id="aila-other-projects">
    <% const page="aila-other-projects" ; %> <%- include tov %>
    <h1>Other AILA Projects</h1>
    <p>
        As AILA&rsquo;s one and only creative writer, a number of one-off projects fell to me to
        tackle. This is just a sample of the writing I did for various projects.
    </p>
    <ul>
        <li id="aila-75th-video">
            <h2>
                Script for This 75th Anniversary Video Message from AILA&rsquo;s Executive Director
            </h2>
            <details>
                <summary>
                    <iframe
                        src="https://player.vimeo.com/video/625772221"
                        frameborder="0"
                        loading="lazy"
                    >
                        <a href="https://vimeo.com/video/625772221"> Click to Watch on Vimeo </a>
                    </iframe>
                    <br />
                    Click to View Transcript
                </summary>
                <div>
                    <p>
                        Hello and welcome to AILA&rsquo;s 75th anniversary celebration! I&rsquo;m
                        Ben Johnson, Executive Director of AILA, and it is my great honor and
                        pleasure to kick off this momentous year with all of you.
                    </p>
                    <p>
                        In the past 75 years, AILA has seen tremendous change both within our
                        membership and in the field of immigration law itself; our diverse community
                        growing from just 20 New York attorneys in 1946 to over 16,000 members
                        around the world today. Much has changed over the years, but what has always
                        remained constant is our members&rsquo; unyielding dedication to making a
                        difference in the lives of countless individuals and to improving the
                        practice of immigration law.
                    </p>
                    <p>
                        AILA&rsquo;s 75th anniversary provides the opportunity to celebrate our
                        community and our shared history.
                    </p>
                    <p>
                        I invite you all to explore our timeline of AILA milestones, read the
                        reflections of past AILA presidents, to share your own AILA memories, and to
                        learn about other ways to join in the celebration.
                    </p>
                    <p>
                        Keep an eye out for events in the coming months celebrating the trials and
                        triumphs that we have faced over the last 75 years, and for updates about
                        the much-anticipated AILA Annual Conference in June 2022. We hope that you
                        will join us in AILA&rsquo;s birthplace, New York City, for next
                        year&rsquo;s conference, as it is bound to be another event for the AILA
                        history books.
                    </p>
                    <p>
                        Thank you for being part of this amazing community and we hope you will join
                        us in celebrating throughout this year.
                    </p>
                </div>
            </details>
        </li>
        <li id="aila-brochures">
            <h2> Membership Brochures </h2>

            <h3>
                <a
                    href="<%=require('./resources/aila-brochures/Member Brochure.pdf')%>"
                    target="_blank"
                >
                    AILA Member Brochure</a
                >
            </h3>
            <iframe
                class="pdf"
                src="<%=require('./resources/aila-brochures/Member Brochure.pdf')%>#view=fit&toolbar=0&navpanes=0"
                frameborder="0"
                loading="lazy"
                >Unsupported</iframe
            >
            <a href="<%=require('./resources/aila-brochures/Member Brochure.pdf')%>"
                >Click to View</a
            >

            <h3>
                <a
                    href="<%=require('./resources/aila-brochures/Law Student Brochure.pdf')%>"
                    target="_blank"
                >
                    AILA Law Student Member Brochure</a
                >
            </h3>
            <iframe
                class="pdf"
                src="<%=require('./resources/aila-brochures/Law Student Brochure.pdf')%>#view=fit&toolbar=0&navpanes=0"
                frameborder="0"
                loading="lazy"
                >Unsupported</iframe
            >
            <a href="<%=require('./resources/aila-brochures/Law Student Brochure.pdf')%>"
                >Click to View</a
            >
        </li>
        <li id="aila-presidents-letter">
            <h2>
                <a
                    href="<%=require('./resources/2022-AILA-Annual-Conference-on-Immigration-Law-Program-Letter-from-the-President.pdf')%>"
                    target="_blank"
                >
                    President&rsquo;s Letter for AILA&rsquo;s Annual Conference Program
                </a>
            </h2>
            <iframe
                class="pdf"
                src="<%=require('./resources/2022-AILA-Annual-Conference-on-Immigration-Law-Program-Letter-from-the-President.pdf')%>#view=fit&toolbar=0&navpanes=0"
                frameborder="0"
                loading="lazy"
                >Unsupported</iframe
            >
            <a
                href="<%=require('./resources/2022-AILA-Annual-Conference-on-Immigration-Law-Program-Letter-from-the-President.pdf')%>"
                >Click to View</a
            >
        </li>
    </ul>
</div>
