<div id="aila-emails">
    <% const page = "aila-emails"; %>
    <%- include tov %>
    <h1>Marketing Emails for AILA</h1>
    <p>
        As AILA&rsquo;s Creative Writer, I wrote, laid out, and sent daily marketing emails to our
        over 15,000 members. I also composed member engagement emails as well as advocacy calls to
        action, surveys, and B2B emails. These are just a sample of the hundreds of emails
        I&rsquo;ve composed for AILA using HubSpot.
    </p>
    <ul>
        <!-- prettier-ignore -->
        <% for (const [title, email] of [
                ['Get Ready for AILA&rsquo;s 2022 Annual Conference', 'get-ready-for-ailas-2022-annual-conference'],
                ['Give the Gift of Pro Bono This Holiday Season', 'give-the-gift-of-pro-bono-this-holiday-season'],
                ['Improve Your Resume, Get Published, and Connect', 'improve-your-resume-get-published-and-connect'],
                ['Solo, Small, Medium, or Large?', 'solo-small-medium-or-large'],
                ['Let Your Voice Be Heard', 'let-your-voice-be-heard'],
                ['Thank You and Happy New Year from AILA', 'thank-you-and-happy-new-year-from-aila'],
                ['Support Your Practice with the Four Pillars of Immigration', 'support-your-practice-with-the-four-pillars-of-immigration'],
                ['Celebrate AILA&rsquo;s 75th Birthday with $75 Off Kurzban&rsquo;s!', 'celebrate-ailas-75th-birthday-with-75-off-kurzbans'],
                ['Explore Pro Bono Resources from Our Afghan Response Task Force', 'explore-pro-bono-resources-from-our-afghan-response-task-force'],

            ]) {
        %>
        <li>
            <a href="https://email.aila.org/<%= email %>" target="_blank">
                <figure>
                    <figcaption><%- title %></figcaption>
                    <img
                        src="<%=require(`./images/aila-email/${email}.png`)%>"
                        alt="Email Preview"
                        loading="lazy"
                    />
                </figure>
            </a>
        </li>
        <% } %>
    </ul>

    <section id="aila-emails-preview">
        <div id="aila-emails-preview-start" tabindex="0"></div>
        <div id="aila-emails-preview-contents">
            <div id="aila-emails-preview-header">
                <h2 tabindex="0">Email Subject: <a target="_blank"></a></h2>
                <button aria-label="Close"></button>
            </div>
            <iframe>Unable to show preview</iframe>
        </div>
        <div id="aila-emails-preview-end" tabindex="0"></div>
    </section>
</div>
