<div id="conversational-and-relatable">
    <% const page = "conversational-and-relatable"; %>
    <%- include tov %>
    <div>
        <article>
            Maternity & Nursing Sleepwear | <i>catch all the z's you can</i><br />
            Remember the good ol' days when you were well-rested? Yeah, neither do we. While we
            can't promise the full eight hours of sleep you deserve, Mom, we have brought you the
            perfect sleepwear for nights with both bump and Baby.
        </article>
        <article>
            <i>After the first bite, it will be hard to open just one door at a time.</i><br />
            No matter how old we get, the excitement of opening up the little doors of an advent
            calendar like this one and discovering the gourmand treats that lie inside never fails
            to delight. Our naughty-meets nice selection includes Belgian chocolate truffles
            hand-finished by artisans in Kent and filled with delectable flavours including hazelnut
            praline, salted caramel, Marc de Champagne and Christmas pudding.
        </article>
        <article>
            To Our Grandparents' House, We Go! | <i>gifts & gear for the journey</i><br />
            <blockquote>
                <i>
                    Over the river and through the woods,<br />
                    To our grandparents' house, we go!<br />
                    The kids know the way to get them to say,<br />
                    'Yes' instead of "No"-oh!<br />
                    We'd travel near or travel far to see their smiles so wide,<br />
                    Because everyone knows there's nothing like<br />
                    A Grandparent's love and pride!
                </i>
            </blockquote>
        </article>
        <article>
            Preschool Prep | <i>give ‘em a head start</i><br />
            There might only be a dinosaur in their little backpack, but the first day of school is
            just around the corner. Get your little student prepped for pre-school in fantastic
            style with these scholastic finds.
        </article>
        <article>
            <i>Five-a-day is no problem with this cuddly companion.</i><br />
            Your little one and Jellycat’s Vivacious Vegetable Pea will be like, well – two peas in
            a pod! An embroidered face smiles out of its velvety soft pod while tactile twisting
            tendrils extend out of its ends, making it easier than ever to get them to love their
            veggies.
        </article>
        <article>
            Your Pride & Joy | <i>more rainbows, please!</i><br />
            <blockquote>
                <b>P</b> is for practising kindness and love. <br />
                <b>R</b> is for the rainbows we can’t ever get enough of. <br />
                <b>I</b> is for the individuality we celebrate all week. <br />
                <b>D</b> is for the differences that make each family unique.<br />
                <b>E</b> is for equality, which we hope we can all agree, is what we want for
                everyone, including Mini.<br />
                Discover looks for your little pride and joy below.
            </blockquote>
        </article>
        <article>
            How to Style a Moto Jacket | <i>looks for men & women </i><br />
            Want to get in on the moto look? Below you'll find jackets to suit your style and
            separates to achieve that edgy vibe. Try layering leather over a dress for a tough yet
            feminine ensemble or with a pair of mesh-slashed leggings and a plaid top for a cool
            that can't be denied.
        </article>
        <article>
            <i
                >When combined with the junior extension kit, this bed can be used for your little
                one’s first 10 years.</i
            ><br />
            Minimalist Scandinavian design meets new-parent practicality in the SnüzKot from Snüz,
            with a sleek frame that transforms and grows with your little one. Set the mattress at
            the highest position to easily reach newborns and progressively move it to the two lower
            positions to keep mischievous toddlers in bed at night. As they get older, the safety
            railings can be removed from the ombré beechwood design, converting to a bed for
            children up to four years old.
        </article>
        <article>
            Their Birthday Wish | <i>it only comes once a year</i><br />
            <blockquote>
                The song is ending and the candles are lit,<br />
                They close their eyes tight — yay, this is it!<br />
                They take a deep breath and blow them all out.<br />
                This has been quite a big day for your little sprout!<br />
                Do you want to know their birthday wish?<br />
                That their next birthday is as perfect as this.<br />
            </blockquote>
        </article>
        <article>
            <i>Hard-wearing wash after wash, it makes a great baby gift.</i><br />
            Once the bubbly fun of bath time has come to an end, welcome your wriggly little one
            into the warm, comforting embrace of this Rachel Riley hooded towel. Crafted in the UK
            from pure cotton terry towelling that is extra-soft for delicate skin, it features the
            signature My Little Prince print to its hood for a sweet crowning finish.
        </article>

        <article>
            Oh, What an Interesting Find! | <i>smile-inducing kitchen gear</i><br />
            Recipe for a Fun Kitchen
            <ol>
                <li>
                    Heat things up with some sweet tunes from a Bluetooth speaker shaped like a fox.
                </li>
                <li>
                    Pour yourself a drink into a Happy Half Wineglass, or open a cold one with a T.
                    rex's teeth.
                </li>
                <li>Decide all of your new cooking stuff is too cute to use, and order takeout.</li>
            </ol>
        </article>
        <article>
            <i
                >Such a beloved addition to the Jellycat family that the brand created an
                accompanying board book about him.</i
            ><br />
            An out-of-this-world companion, Jellycat’s Zalien is perfect for your own little
            stargazer. With sparkling limbs extending out of his fuzzy green body and big, curious
            eyes, he is eager to learn all about your earthling ways and to share stories of his own
            galactic adventures.
        </article>
        <article>
            <i
                >A lovely gift for new and long-devoted owners alike who want only the finest for
                their furry companions.</i
            ><br />
            When its founders couldn’t find fine collars with the vet-recommended breakaway safety
            catch, Cheshire & Wain stepped up to the challenge, creating beautiful cat collars like
            this one with their welfare in mind. Caviar is the London brand’s most luxurious
            collection to date; it melds leather, suede and solid brass hardware and embosses it
            with a grained texture to mirror its gourmet namesake. As a final playful flourish, it
            is presented in a novelty tin that can be later used to stash treats.
        </article>
        <article>
            Your Very Own Waterpark?! | <i>fire up the hose!</i><br />
            Be prepared for your inner 12-year-old to lose. their. mind. These splashy inflatables
            and toys turn your backyard into an awesome waterpark, you know, for your kids (wink
            wink).
        </article>
        <article>
            Happy Birthday to You! | <i>the looks mini wished for</i><br />
            <blockquote>
                <i>
                    Happy birthday to you!<br />
                    This place is a zoo,<br />
                    My house is a mess,<br />
                    But at least you look cute!
                </i>
            </blockquote>
            >
        </article>
        <article>
            <i>Tantalising Christmas dinner upgrades, the Harrods way.</i><br />
            There’s so much preparation that goes into creating your impressive festive spread,
            allow us to lend a hand with our Christmas Condiment Selection. This trio of
            feast-supporting sidekicks includes our Christmas spiced mustard for adding savoury zing
            to gammon, cranberry sauce with port as a decadent turkey trimming and the
            mouth-puckering Boxing Day chutney.
        </article>
        <article>
            Prepare to Take the Porcelain Throne | <i> & conquer potty training </i><br />
            The road to potty training can be a long and arduous one — scattered with jellybean
            bribes and a thousand "Are you sure you don't have to go?"s. Stock your arsenal with
            everything you both need to conquer the porcelain throne.
        </article>
        <article>
            The Tooth Fairy is Coming! | <i>treat your tooth-losing tot</i><br />
            <blockquote>
                Growing up is hard and it happens so fast,<br />
                But that tooth you've been wiggling is loose at last!<br />
                Put the tooth under your pillow and close your eyes tight,<br />
                Because the Tooth Fairy will come to visit tonight!<br />
                She's magical, sweet, gentle and kind,<br />
                And maybe she'll even leave something behind!
            </blockquote>
        </article>
        <article>
            The Future Is Hers | <i>empower mini’s wardrobe</i><br />
            <blockquote>
                Girls stand for:<br />
                <b>G</b>enerosity<br />
                <b>I</b>ngenuity<br />
                <b>R</b>ebelliousness<br />
                <b>L</b>eadership<br />
                <b>S</b>kills<br />
                Outfitted in designs that inspire and empower, she’s ready to take on the world.
            </blockquote>
        </article>
        <article>
            Give 'Em Some Space | <i>with these stellar graphics</i><br />
            You won't need a rocket ship to find stellar style for your little stargazer. It's just
            one small scroll for mom, one giant leap in cool points for mom-kind.
        </article>
        <article>
            Sweet Dreamers | <i>comfy & cute pjs</i><br />
            <blockquote>
                All tucked in and snuggled up tight,<br />
                Oh, the dreams they'll have tonight!<br />
                Flying through the air or winning the big race,<br />
                Petting a unicorn or floating in space.<br />
                If you've ever wondered what their dreams are made of,<br />
                It's pj's like these that were put on with love.
            </blockquote>
        </article>
        <article>
            Know someone who can’t decide whether they love milk or dark chocolate more? Delight
            them this holiday season with the perfect combination of the two — the Harrods dark milk
            chocolate Easter egg. This indulgent and memorable gift invites a second round of
            applause when it’s cracked open to reveal hand-finished passion-fruit-caramel truffles
            inside.
        </article>
    </div>
</div>
