<div id="elevated-and-knowledgeable">
    <% const page = "elevated-and-knowledgeable"; %>
    <%- include tov %>
    <div>
        <article>
            <i
                >Balance the easiness of this pair with a tucked-in rollneck sweater and a sharply
                tailored coat.</i
            ><br />
            Departing from its favoured skinny fit, Saint Laurent presents these light-wash jeans in
            a relaxed, straight-leg silhouette. The change of course comes from the longing for
            comfort that defined 2020 and inspired creative director Anthony Vaccarello, who
            remarked: “Maybe it’s the fact that we stayed at home for months, and now when you see
            people in the streets, mixing a jacket with jogging pants, something of that casual
            easiness does go back to the collection. It’s about comfort in your own skin. But you
            have to elevate it. You have to take it forward.”
        </article>
        <article>
            <i>A luxurious accessory befitting of this landmark collaboration.</i><br />
            Heritage, supreme quality and refinement are characteristics shared by Vacheron and
            Harrods, making this exclusive edition of the Traditionnelle watch an essential for
            discerning collectors. Showcasing our store's signature colours through 5N rose gold and
            a deep green alligator strap, the design eschews contemporary fanfare in favour of a
            timeless aesthetic, from the traditional indexes and seconds counter to the subtle, yet
            intricate patterning on the hand-guillochéd face.
        </article>
        <article>
            <i
                >Baby cashmere is carefully combed from the goats during their natural shedding
                period, without harm to the animal.</i
            ><br />
            The Capra hircus − or cashmere goat, as it’s also known − that roams the breathtaking
            landscapes of Mongolia’s Alashan desert produces some of the finest raw materials in the
            world, but the one fibre that is softer, lighter and rarer is the fleece of its kids.
            Pioneer of knitwear Loro Piana was instrumental in bringing the exceedingly precious and
            pure baby cashmere to the industry and uses it to elevate leisurewear like these
            sweatpants to the highest echelons of luxury, making them perfect for spa days or
            après-ski lounging.
        </article>
        <article>
            Stepping away from the formal French bouquet approach to crafting scents to mirror the
            lively and diverse brown-paper-wrapped bunches of British flower markets, Floral Street
            fragrances each represents a different mood, person or feeling; the London Poppy eau de
            parfum is a love letter to the resilient energy of its namesake. Designed to uplift the
            urbanite, it opens with bright Sicilian lemon and Florida orange beaming like a precious
            ray of sunshine cutting through grey clouds while marine notes cut through its heart
            like the Thames.
        </article>
        <article>
            <i>Y-shaped matelassé quilting pays homage to the Maison's late founder.</i><br />
            Named after Yves Saint Laurent’s muse and dear friend Loulou de la Falaise, the Loulou
            bag is instantly recognisable thanks to its softly structured quilting. Echoing the
            vintage sensibilities of Parisian bohemia that lie at the heart of the Maison, the
            supple leather piece proudly hosts the iconic monogram punctuating its front flap – an
            inimitable emblem of utmost luxury since the 1960s.
        </article>
        <article>
            <i
                >Enjoy as a nightcap or alongside desserts that amplify its notes of vanilla, cherry
                and dried, ripe fruit.</i
            ><br />
            The unique spicy-sweet flavour of Kaiyō whisky is a testament to the finest Japanese
            Mizunara oak casks in which it is aged. After years of cellared maturing, it earns its
            moniker – which translates to ‘ocean’ – with up to three months of maturation at sea;
            the whiskey dances along with the waves, ensuring that every drop benefits from the
            aromas of kara incense, sandalwood and coconut that the casks impart. Leaving from
            Osaka, each voyage presents unique conditions as movement, temperature and air pressure
            all vary to write its own exceptional gastronomical story.
        </article>
        <article>
            Scents of Style | <i>fragrances from prada & more</i><br />
            Have you ever caught a whiff of something that immediately brought you back to a
            specific place and time? That is the power of scent. Discover your signature fragrance
            among the designer picks below and make an impression they'll never forget.
        </article>
        <article>
            <i>Steeped in history, this timepiece is an essential for any discerning collector.</i
            ><br />
            IWC Schaffhausen demonstrates first-hand what makes a watch iconic with its Portugieser
            Chronograph. The elegantly athletic model is more than a sought-after timepiece, it
            forms part of one of the Swiss brand’s most prestigious collections, which had its start
            in the 1930s. The story goes that IWC was approached by two Portuguese businessmen
            requesting a wristwatch with the same exact precision as marine chronometers and, as a
            result, the first Portugieser was born. Today, the style remains one of horology’s
            finest and you can analyse its legendary, robust movement at work thanks to the
            sapphire-glass case back of this modern rendition.
        </article>
        <article>
            <i
                >The luxurious experience of shopping in our iconic Knightsbridge store, distilled
                into a sophisticated scent.</i
            ><br />
            In a true transatlantic collaboration, Bond No. 9 departs from its usual New York City
            inspirations to pay olfactory homage to our legendary department store. The Harrods Rose
            eau de parfum takes the simple beauty of a rose and elevates it with lavish flourishes
            of cashmere and musk, connecting the two metropolises through their shared ties to the
            classic bloom.
        </article>
        <article>
            Leather in all iterations could be found across the Autumn/Winter 2019 runways,
            predicting how key this Gucci jacket will be as part of your seasonal rotation. A twist
            on the classic bomber style, the brushed leather design has a subtle sheen and is topped
            with a wool-blend shawl neck, striped with the House’s signature colours. Look to the
            silky lining to confirm the fine craftsmanship and detail that went into finishing the
            piece.
        </article>
        <article>
            <i
                >Precious and considered in its every facet, this watch has irrefutably earned its
                moniker: dazzling.</i
            ><br />
            Luxury Swiss watchmaker Jaeger-LeCoultre was one of the first to create wristwatches for
            women; its early designs were frosted with diamonds and fitted with smaller calibres,
            downscaled to fit a narrower wrist. Honouring its pioneering legacy, the label's
            Rendez-Vous collection offers a poetic take on traditional horology with its impressive
            settings and self-winding movement, built with over 200 individual components. Crafted
            in 18-karat white gold, the Dazzling Rendez-Vous Day & Night watch exudes preciousness,
            from its mother-of-pearl dial to the 168 peerless white diamonds framing the floral
            numerals and smooth hands.
        </article>
        <article>
            This Brush collection mug was originally designed for the world-renowned chef Dan Barber
            and his ground-breaking pop-up, wastED. Just as the pop-up exclusively used ingredients
            that would otherwise be wasted, Richard Brendon throws caution to the wind, using every
            piece that comes off the kiln and decorating it freely with a bold splash of
            hand-painted colour.
        </article>
        <article>
            The world was struck with horror when a fire ravaged the legendary Notre Dame Cathedral
            of Paris on April 15th 2019, but the magnificent Rose Window miraculously escaped
            unscathed, rendering it a symbol of resilience and triumph that is here celebrated on
            this Halcyon Days box. Just as the coloured panes bathe the cathedral with jewel toned
            hues, so will this enamelled copper trinket holder bring vibrant life to your vanity.
        </article>
        <article>
            As the last project of the late Franco-Venezulan artist Carlos Cruz-Diez – declared by
            scholars to be one of the greatest colour theorists and innovators of the 20th century−
            Hublot’s Cruz Diez collection is a tribute to his work and the disruptive way kinetic
            art centres around the viewer’s point of view. This King gold Classic Fusion watch
            showcases contemporary linework that evolves over time as discs rotate in parallel – a
            testament to the Swiss label’s craftsmanship.
        </article>
        <article>
            <i
                >“Color is light, time and space. Color is not in the past, it is a continuous
                present.” - Carlos Cruz-Diez</i
            ><br />
            London Tea Exchange puts quality and fair-trade principles at the heart of everything it
            does, crafting luxury teas from only the finest single-estate ingredients. The walls of
            its Brick Lane store are lined with shelves of what appear to be beautifully bound
            tomes, but which are, in fact, the Nobel Collection – book-inspired tins that echo the
            precious nature of the premium tea quartets inside. Volume VII is the caffeine-free
            Wellness Collection: the refreshing, digestion-aiding Moroccan Mint, soothing Rooibos,
            the anti-inflammatory Chamomile and the rare and relaxing Sea of Blossoms. Made in the
            UK, the four loose leaf teas are each packaged in their own box for freshness.
        </article>
        <article>
            The Brow Factor | <i>tools & makeup</i><br />
            The results are in: defined brows are the hottest beauty trend. Add some arch support to
            your look with this collection of tools and makeup for your dynamic duo.
        </article>
        <article>
            These Shoes Mean Business | <i>comfortable loafers & wedges</i><br />
            The career path is paved with shoes that just couldn't keep up with the daily grind.
            These loafers and wedges are both stylish and professional and will be there for every
            step on your way to the top.
        </article>
        <article>
            <i
                >Each chocolate is labelled − a considered and contemporary touch that ensures you
                always know what you’re biting into.</i
            ><br />
            Pierre Marcolini has perfected every step of the chocolate-making process from bean to
            bar, scouring the globe for the finest ingredients with which to create confections like
            these palate fins. Its Brussels-based artisans handcraft these milk and dark chocolate
            squares with molten caramel and praline centres. Delight in the six gourmand flavours
            including pistachio-hazelnut, orange blossom, passionfruit and honey.
        </article>
        <article>
            Aged for 15 months in French oak barrels, the 2016 Cuvaison Pinot Noir is elegant and
            harmonious. Aromas of rose petal, damson plum, wild strawberry and fresh raspberry
            dominate the nose, while darker fruits and spice sway across the palate. The wine has
            both finesse and richness with the melding of both black and red fruits that typify the
            cool-climate of the Los Carneros region.
        </article>
    </div>
</div>
