<div id="out-of-the-box-and-creative">
    <% const page = "out-of-the-box-and-creative"; %>
    <%- include tov %>
    <div>
        <article>
            A Room Fit for a Princess | <i>make her dreams come true</i><br />
            <blockquote
                >The Prince: "Rapunzel, Rapunzel let down your hair and I'll rescue you from your
                tower!"<br />
                The Princess: "Nah, I'm good. This room is awesome!"<br />
                Give your little one's chambers the royal treatment with the furniture and accents
                below.</blockquote
            >
        </article>
        <article>
            <i
                >Note the back of this single earring – it features a brilliant diamond solitaire
                for a sparkling finish.</i
            ><br />
            In the world of Maria Tash, diamonds defy gravity, and the rose gold Floating Pear Charm
            threaded stud single earring is the perfect example of this as it showcases just how the
            jewellery designer manages to create this sought-after illusion. Some would say magic,
            others would say it’s a discrete jump ring mechanism that grants the stone subtle
            movement, allowing it to catch the light and reveal the diamond’s brilliant pear shape.
        </article>
        <article>
            As darkness falls around them, the audience sits in anticipation; sandalwood, cashmere,
            amber, and incense weaving together to tell the past and present of the historic theatre
            around them. The velvety curtain is thrown wide open with a symphony of orange, magnolia
            and fig leaves as Indian jasmine, ylang-ylang, cinnamon and Bulgarian rose burst onto
            the stage from the wings to present the Xerjoff Ouverture eau de parfum.
        </article>
        <article>
            Adulting Made Fun | <i>organization is key</i><br />
            <blockquote
                ><b>adulting</b> \ ə-ˈdəltˈtiŋ\ <i>noun</i>
                <ul>
                    <li>completing the duties and responsibilities of a mature person</li>
                    <li>coordination all of the tedious tasks one must begrudgingly tackle</li>
                    <li
                        >an undertaking made easier with a fun planner and all the odds and ends of
                        organization</li
                    ></ul
                ></blockquote
            >
        </article>
        <article>
            <i>A scent as enchanting as the bottle that it’s presented in.</i><br />
            Curtains rise as the Xerjoff Opera eau de parfum begins with an overture of plucky fruit
            notes and nutmeg. Ylang-ylang, leather and amber burst forth like a moving
            orchestra-backed aria as a spotlight of patchouli, vanilla, vetiver and musk cast a warm
            glow across the rose-scattered cedarwood stage.
        </article>
        <article>
            Carine Roitfeld’s 7 Lovers collection is an homage to the former editor-in-chief of
            Vogue Paris’ unforgettable inamoratos in iconic cities around the world, the conquests
            of her insatiable hunger for romance and passion. The Vladimir eau de parfum is inspired
            by her Slavic roots and St. Petersburg; two lovers stealing away into the wings of The
            Mariinsky Theatre, bright grapefruit and bergamot are enveloped by aromatic sage and
            heady incense, as frankincense contrasts against amber to express rigour and fluidity
            like dancers warming up to Tchaikovsky on the main stage.
        </article>
        <article>
            Don't Miss These! | <i>deals on shorts &amp; tees</i><br />
            <blockquote
                ><i
                    >Eenie, meeny, miny, moe<br />
                    Get these deals with style in tow!<br />
                    If they holler, let them know,<br />
                    "My mommy always picks the very best ones,<br />
                    And Zulily's got them!"</i
                ></blockquote
            >
        </article>
        <article>
            <i>Once upon a time…</i><br />
            A knight approached, ready to vanquish the beast and save the princess, but stopped in
            his tracks when he saw the sweet, gentle expression of Jellycat’s Bashful Dragon. Not a
            fiery foe but a friend indeed, the ultra-soft plush with its suede-like wings and petite
            horns is a delightfully tactile guardian for your own magical playroom.
        </article>
        <article>
            <i>Eyes, lips and cheekbones are all given a lustrous gleam with this regal line-up.</i
            ><br />
            Who is The Queen of Glow? She is the embodiment of radiance and glamour, sun-kissed and
            confident in her red carpet-worthy look courtesy of Charlotte Tilbury. Complete with a
            make-up bag to hold all its components, this gift set includes everything that you need
            for your own luminous coronation including the eponymous eyeshadow palette, the
            highlighting Beauty Light Wand and the plumping Collagen Lip Bath.
        </article>
        <article>
            How Do Yours Stack Up? | <i>towel off in luxury</i><br />
            <blockquote
                >An ode to a cosy towel in haiku:<br />
                Out of the shower,<br />
                Into the blistering cold.<br />
                Save me, warm towel!</blockquote
            >
        </article>
        <article>
            <i>This cotton summer dress is as flattering as it is feminine.</i><br />
            Inspired by the prospect of Phoebe Waller-Bridge’s upcoming project – the new Bond film
            – creative director Ian Griffiths asked himself: “Why not do a wardrobe for a film that
            hasn’t been made?” And so, the Spring/Summer 2020 collection becomes an ode to the
            heroine we all aspire to be. With flattering silhouettes like this one, the Italian
            label creates an inspirational narrative that recasts the Max Mara woman as the
            protagonist. However, it wouldn’t be complete without feminine details, which is why
            this dress is finished with a delicate Broderie Anglaise pattern.
        </article>
        <article>
            <i
                >A steadfast guardian, the panther represents courage, strength and an agile
                nature.</i
            ><br />
            Louis Cartier introduced the Panthère in 1914, but Jeanne Toussaint – Cartier’s Artistic
            Director from 1933 to 1970 – elevated it to the fierce fashion icon it is today.
            Depending on how light glances off the lavish constellation of 242 brilliant-cut
            diamonds, piercing emerald eyes and onyx markings, the panther appears predatory,
            playful or languid, revealing a multifaceted personality to this yellow gold ring.
        </article>
        <article>
            The Isaia man isn’t held back by stereotypical clichés – he is passionate and
            sophisticated, eclectic yet polished. The Italian brand crafts dynamic and unique styles
            like this silk-kissed cotton piqué shirt that embrace the spontaneity of ever-changing
            trends, while holding dear the tenets of classic tailoring. Showcasing a speckled weave,
            this piece exemplifies its Napoli roots with irreverent elegance.
        </article>
        <article>
            Street-Smart Style | <i>cool city separates</i><br />
            <blockquote
                >How to look like a big city native:<br />
                <ul>
                    <li
                        >Don't look up or around — that's a dead give away that you're a tourist.
                    </li>
                    <li>Walk with confidence — you know where you're going! </li>
                    <li
                        >Shop this collection of casual city separates — we'll have you looking like
                        an urbanite in no time!</li
                    ></ul
                ></blockquote
            >
        </article>

        <article>
            Standing atop the cliffs of the Amalfi coast, the Xerjoff Verde Accento eau de parfum
            villa is surrounded by a cascading orchard of Italian mandarin and bergamot from Reggio
            Calabria. The fresh morning breeze carries notes of amber, sandalwood and musk from the
            turquoise waters below, picking up iris, jasmine and pink pepper as it winds its way
            through the cobbled market streets.
        </article>
        <article>
            Inspired by a fire that broke out in the Curling Bros. barbershop in Westlake, NY in
            1891, D.S. &amp; Durga Burning Barbershop eau de parfum weaves a sultry and exciting
            scent story. Spearmint, and lime spark across hemlock spruce at the top, building to
            hearty notes of lavender absolute and Turkish rose and finally giving way to flames of
            burnt oil, vanilla and hay.
        </article>
        <article>
            Picture this: you’re aboard an oiled wooden ship, sipping something sparkling while
            absentmindedly admiring fallen petals floating across the water’s surface. Dunegrass
            sprouts up along the horizon, silhouetted by the light of the setting sun as the faint
            sound of a crooner’s love song plays across the salty summer breeze. That is the
            experience of D.S. &amp; Durga’s Rose Atlantic eau de parfum.
        </article>
        <article>
            An Experiment in Fun | <i>science rules!</i><br />
            <blockquote
                >Hypothesis: Science is awesome and a whole lot of fun. <br />
                *countless hours of laborious, empirical testing*<br />
                Conclusion: Fill your little researcher with wonderment as they explore and
                experiment with these scientific tools and activities for the long summer days to
                come.</blockquote
            >
        </article>
        <article>
            Be transported back to the glory days of the wild American west with D.S. &amp; Durga’s
            Cowboy Grass eau de parfum. Sagebrush, wild thyme and basil are kicked up as if by
            horses’ hooves on rambling prairie, while vetyver and ambergris cushion those notes like
            a well-oiled saddle.
        </article>
        <article>
            Evoking warriors from a bygone era, D.S. &amp; Durga’s Amber Teutonic eau de parfum
            tells a story of nature and vitality. Perched high above a rich valley of Alpine fir,
            cardamom and green mandarin echo like a horn throughout the primeval forest as a horde
            tramples geranium, European larch and Templin cones.
        </article>
        <article>
            <i
                >This limited-edition bottle is a collaboration with artist Ellie Mac whose
                colourful embroidery is featured on the label.</i
            ><br />
            An irresistible fragrance that Annick Goutal created for her daughter Camille as a gift,
            Petite Chérie is a bright and cheerful perfume. Beneath a giggle of mischievous and
            carefree pear and peach, the fragrance unveils captivating and devilishly charming notes
            of velvety musky rose and freshly-cut grass. A base of sweet vanilla finishes off the
            scent meant to be evocative of a bestowing a sweet kiss on a young girl’s cheek.
        </article>
        <article>
            What is the Maison Francis Kurkdjian Grand Soir eau de parfum experience? It’s like
            being dressed in your finest, dripping in glamour, and stepping out into the cool
            Parisian night air on a whim. The lingering sense of mystery and excitement consumes
            your thoughts like the deep cistus labdanum top notes. The cobbled streets are warmly
            lit by the glowing benzoin cityscape as comforting aromas of warm vanilla and tonka bean
            leak out of patisseries, promising that this is a night you’ll never forget.
        </article>
        <article>
            Let's Get Down to Business | <i>upgrade your work wardrobe</i><br />
            <blockquote
                >Work To-Do List:<br />
                <li>Ace the presentation </li>
                <li>Get that promotion </li>
                <li>Break the glass ceiling </li><br />
                You've got a lot on your plate as it is! Shop these professional looks that mean
                business just as much as you do.</blockquote
            >
        </article>
        <article>
            <i>Create your own frosty winter wonderland aesthetic this year.</i><br />
            The twinkle of fairy lights, the shine of vibrant baubles, glittering fresh-fallen snow
            – the festive season isn’t complete without a generous dose of sparkle. From our
            Knightsbridge store’s Christmas World, this stocking brings a worthy flourish of glamour
            to your holiday decor with its silver-tone velvet, corded trim and beaded snowflake
            embellishments.
        </article>

        <article>
            The YSL woman is fierce, bold, authentic and, above all else, free; this is the
            inspiration for the Libre eau de parfum, taking its name from the French word for
            ‘free’. An uncompromising explosion of bold lavender, sensual orange blossom and warm
            vanilla, it is a scent as multifaceted and dynamic as its wearer.
            <i
                >As the face of this fragrance, British singer-songwriter Dua Lipa said: “We (women)
                live life by our own rules.”</i
            ><br />
        </article>

        <article>
            <i
                >Perfumer Nadège Le Garlantezec draws on her scientific background to craft sensual,
                sparkling perfumes like this one.</i
            ><br />
            There’s a fine line between excitement and danger and there so daintily balances Ex
            Nihilo’s Viper Green eau de parfum. Subtitled by the brand as ‘sensual venom’, the
            fragrance is inspired by vegetal poisons, enticing you to keep returning to its fresh
            aura while something deep inside warns you to steer clear. Green mandarin and crisp
            angelica shimmer across the top in a mesmerising veil, while iris blooms at its heart
            and vetiver and patchouli seal its lethal spell.
        </article>
        <article>
            Twinkle Toes | <i>shiny, sparkly or studded?</i><br />
            <blockquote
                ><i
                    >Twinkle, twinkle, little shoes — how we wonder which you'll choose.<br />
                    Sequins, sparkles, glitter, oh my! Shining like the stars on high.<br />
                    Twinkle, twinkle, little shoes; we know that Mini will love them too!</i
                ></blockquote
            >
        </article>
        <article>
            <i
                >Coated in sequins and tailored into a sculptural silhouette, the bottle is as
                enticing as its precious contents.</i
            ><br />
            YSL reinvents the signature aromas of its beloved Black Opium fragrance for 2020 with
            the indulgent and seductive Black Opium Eau de Parfum Neon. Its adrenaline-pumping heart
            of black coffee is electrified by luminous dragon fruit and glows with the warmth of
            vanilla and white musk. The result is equal parts couture and rock ‘n’ roll.
        </article>
    </div>
</div>
