<%
const PAGES = {
    "conversational-and-relatable": "Conversational & Relatable",
    "vivid-and-descriptive": "Vivid & Descriptive",
    "out-of-the-box-and-creative": "Out-of-the-Box & Creative",
    "elevated-and-knowledgeable": "Elevated & Knowledgeable",
};
const pagesEntries = Object.entries(PAGES);
const curIndex = pagesEntries.findIndex(entry=> entry[0] === page);
const prevPage = pagesEntries[(curIndex + pagesEntries.length - 1) % pagesEntries.length][0];
const nextPage = pagesEntries[(curIndex + 1) % pagesEntries.length][0];
const curPage = pagesEntries[curIndex][1];
%>

<ul class="tov">
    <li>
        <a href="#<%= prevPage %>">←</a>
    </li>
    <li class="tov-selected"> <%= curPage %> </li>
    <li>
        <a href="#<%= nextPage %>">→</a>
    </li>
</ul>
