@import "./colors.scss";

.title-small {
    font-size: 3em;
    color: white;
}

.title-large {
    font-size: 5em;
    color: $color-star;
    transition: all 1s;

    // background: -webkit-linear-gradient($color-star,  #ffce39);
    // background: linear-gradient(to right, $color-star, $color-star, $color-star,  #ffce39, #ffce39);

    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &.from-left {
        background-image: linear-gradient(
            to left,
            $color-star,
            $color-star,
            $color-star,
            #ffce39,
            #ffce39
        );
        background-position-x: 100%;
    }

    &.from-right {
        background-image: linear-gradient(
            to right,
            $color-star,
            $color-star,
            $color-star,
            #ffce39,
            #ffce39
        );
        background-position-x: 0%;
    }

    &.from-bottom {
        background-image: linear-gradient(
            to top,
            $color-star,
            $color-star,
            $color-star,
            #ffce39,
            #ffce39
        );
        background-position-y: 100%;
    }
}

// .title-large::before {
//     font-size: 5em;
//     color: $color-star;
//     transition: color 1s;

//     // background: -webkit-linear-gradient($color-star,  #ffce39);
//     background: linear-gradient(to right, $color-star, $color-star var(--offset),  #ffce39);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

.mainTextHighlight {
    // background-position-x: 100%;
    color: #ffce39;

    &.from-left {
        background-position-x: 0%;
    }

    &.from-right {
        background-position-x: 100%;
    }

    &.from-bottom {
        background-position-y: 0%;
    }
}
