@use "./fonts.scss";
@use "./braces.scss";
@use "./nav.scss";

body[data-location=""] main #home {
    display: block;
}

// stylelint-disable-next-line no-descending-specificity
#home {
    text-align: center;

    #home-tov-header {
        width: 80%;
        margin: auto;
        font-size: 1.3em;
        font-weight: bold;

        @media (max-width: nav.$mobile-menu-max-width) {
            width: initial;
            font-size: 1.2em;
        }

        @media (max-width: 475px) {
            font-size: 1.1em;
        }
    }

    #writing-styles {
        @include fonts.font-galada;

        font-size: 2em;
        line-height: 2;

        @media (max-width: nav.$mobile-menu-max-width) {
            font-size: 6vw;
        }

        @media (max-width: 475px) {
            font-size: 5vw;
        }
    }

    li {
        @extend %braces;

        display: block;
    }
}
