@use "./fonts.scss";
@use "./braces.scss";
@use "./nav.scss";

body[data-location=""] main #home {
    display: block;
}

#home {
    text-align: center;

    #writing-styles {
        @include fonts.font-galada;

        font-size: 2em;
        line-height: 2;

        @media (max-width: nav.$MOBILE_MENU_MAX_WIDTH) {
            font-size: 6vw;
        }
    }

    li {
        @extend %braces;

        display: block;
    }
}
