@import "./colors.scss";

@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap");

@font-face {
    font-family: "Architex";
    src: url("/fonts/Architex.ttf");
}

body {
    width: 100%;
    height: 100%;
    font-family: "Architex";
    // font-family: 'Sawarabi Mincho'; // nicer font but not spaced for it
    background: $color-sky;
    overflow-x: hidden;
}
