@use "./braces.scss";
@use "./selectors.scss";
@use "./locations.scss";

nav {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        @extend %braces;

        position: relative;
        display: none;

        width: 1em;
        height: 1em;
        border: none;
        appearance: none;
        background-image: url("../images/icon-menu.svg");
        background-position: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        font-size: 3em;

        &:checked {
            background-image: url("../images/icon-close.svg");
        }

        &::before,
        &::after {
            position: absolute;
            top: -0.1em;
        }

        &::before {
            left: -33%;
        }

        &::after {
            right: -33%;
        }
    }

    @include selectors.on-home {
        @media (max-width: 650px) {
            align-items: start;
            justify-content: space-between;

            ul {
                display: none;
            }

            input[type="checkbox"] {
                display: initial;
            }

            input[type="checkbox"]:checked {
                z-index: 1;
            }

            input[type="checkbox"]:checked + ul {
                position: fixed;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-items: flex-end;
                padding: 2em;
                padding-top: 7em;
                background: linear-gradient(
                    270deg,
                    white 0%,
                    white 20em,
                    rgba(255, 255, 255, 0) 100%
                );
            }
        }
    }

    & > a {
        &::before,
        &::after {
            content: "";
        }
    }

    img {
        height: 13em;
    }

    & > [tabindex="-1"] {
        display: none;
    }

    ul {
        margin: 0;
        line-height: 3em;
        text-align: center;
    }

    li {
        display: inline;
        margin: 0 0.3em;
        font-size: 1.5em;
        white-space: nowrap;

        a {
            @extend %braces;
        }
    }
}

main > div {
    display: none;
}

body[data-location=""] #home {
    display: initial;
}

@each $location in locations.$locations {
    body[data-location="#{$location}"] ##{$location} {
        display: block;
    }
}
