@import "./selectors.scss";

nav {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        display: none;
        width: 3em;
        height: 3em;
        appearance: unset;
        background-image: url("../images/icon-menu.svg");
        background-position: center;

        &:checked {
            background-image: url("../images/icon-close.svg");
        }
    }

    @include on-home {
        @media (max-width: 650px) {
            justify-content: space-between;
            align-items: end;

            ul {
                display: none;
            }

            input[type="checkbox"] {
                display: initial;
            }

            input[type="checkbox"]:checked {
                z-index: 1;
            }

            input[type="checkbox"]:checked + ul {
                position: fixed;
                width: 100%;
                height: 100%;
                background: linear-gradient(270deg, white, white, transparent);
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 2em;
                padding-top: 7em;
            }
        }
    }

    & > a {
        &::before,
        &::after {
            content: "";
        }
    }

    img {
        height: 13em;
    }

    ul {
        text-align: center;
        line-height: 3em;
        margin: 0;
    }

    li {
        display: inline;
        font-size: 1.5em;
        margin: 0 0.3em;
        white-space: nowrap;
    }
}

main > div {
    display: none;
}

body[data-location=""] #home {
    display: initial;
}

$locations: "about-me", "resume", "contact", "recommendations", "product-copy",
    "editorial-and-brand-copy";

@each $location in $locations {
    body[data-location="#{$location}"] ##{$location} {
        display: initial;
    }
}
