nav {
    display: flex;
    align-items: center;

    & > a {
        &::before,
        &::after {
            content: "";
        }
    }

    img {
        height: 13em;
    }

    ul {
        text-align: center;
        line-height: 3em;
        margin: 0;
    }

    li {
        display: inline;
        font-size: 1.5em;
        margin: 0 0.3em;
        white-space: nowrap;
    }
}

main > div {
    display: none;
}

body[data-location=""] #home {
    display: initial;
}

$locations: "about-me", "resume", "contact", "recommendations", "product-copy",
    "editorial-and-brand-copy";

@each $location in $locations {
    body[data-location="#{$location}"] ##{$location} {
        display: initial;
    }
}
