@use "./colors.scss";
@use "./card.scss";

$BREAK_POINT_WIDTH: 500px;

@mixin right-pipe {
    padding-right: 0.5em;
    border-right: 0.05em solid colors.$content-color;
    margin-right: 0.5em;
}

@mixin arrow-list {
    list-style: circle inside;

    li {
        padding-left: 1em;
    }
}

@mixin normalize-header {
    font-weight: normal;
}

@media (min-width: $BREAK_POINT_WIDTH) {
    #resume h1 {
        margin-bottom: 0;
    }
}

#resume-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

#resume-download {
    @include card.button;
}

#resume-wrapper {
    h2,
    h3 {
        text-align: center;
    }

    h2,
    h3,
    h4 {
        text-transform: uppercase;

        &::first-letter,
        .resume-header-word {
            font-size: 1.5em;
        }
    }

    ul,
    ol {
        list-style: none;
    }

    hr {
        height: 0.1em;
        border: none;
        margin: 1em 0;
        background: colors.$content-color;
    }

    #resume-header {
        text-align: center;
    }

    #resume-summary {
        text-align: center;
    }

    #resume-summary-competencies {
        font-style: italic;

        ul {
            display: block;
            font-style: normal;

            li {
                display: inline;
                @include right-pipe;
                &:last-child {
                    border: none;
                }
            }
        }
    }

    #resume-professional-experience ol {
        text-align: left;

        > li {
            margin-bottom: 1em;
        }

        ul {
            @include arrow-list;
        }
    }

    .resume-experience-header {
        text-transform: uppercase;

        & > :first-child {
            @include right-pipe;
        }

        & > :nth-child(2) {
            font-weight: bold;
        }

        & > :last-child {
            float: right;
        }
    }

    #resume-education {
        h4 {
            @include normalize-header;

            & + * {
                font-weight: bold;
            }
        }

        ul {
            > li {
                margin-bottom: 1em;
            }
            ul {
                @include arrow-list;
            }
        }
    }

    #resume-awards {
        h4 {
            @include normalize-header;
        }
        ul ul {
            @include arrow-list;
        }
    }
}

@media (max-width: $BREAK_POINT_WIDTH) {
    #resume-title {
        flex-direction: column;
    }

    #resume-download {
        padding: 1em;
    }
}
