@import "./colors.scss";

.star-line {
    // opacity: 0;
    // background-color: $color-star;
    width: 2px;
    display: inline-block;
    position: relative;
    border-radius: 20px;

    background-image: linear-gradient(
        $color-star 35%,
        rgba(255, 255, 255, 0) 0%
    );
    background-position: right;
    background-size: 1px 17px;
    background-repeat: repeat-y;

    &::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        box-shadow: 0 0 6px 3px $color-star; // white;
        position: absolute;
        top: 100%;
        animation: top-to-bottom 2s ease-out infinite;
        animation-delay: var(--animation-delay);
    }
}

@keyframes top-to-bottom {
    0% {
        top: 0%;
    }
    100% {
        top: 100%;
    }
}
