@use "./card.scss";
@use "./resume.scss";
@use "./recommendations.scss";

body:not([data-location=""]) {
    #home {
        display: none;
    }

    nav {
        @media (max-width: 700px) {
            flex-direction: column;
        }

        img {
            height: 6em;
        }

        ul {
            margin-left: 1em;
            line-height: 1.5;
        }

        li {
            font-size: 0.8em;
        }
    }

    main {
        text-align: left;
    }

    article {
        ul,
        ol {
            margin-left: 1em;
        }
    }
}

#conversational-and-relatable,
#elevated-and-knowledgeable,
#out-of-the-box-and-creative,
#vivid-and-descriptive {
    @include card.card-holder;

    article {
        @include card.card;
    }
}
