@forward "./contact.scss";
@forward "./other-projects.scss";
@forward "./recommendations.scss";
@forward "./resume.scss";
@forward "./tov.scss";

body:not([data-location=""]) {
    #home {
        display: none;
    }

    nav {
        @media (max-width: 700px) {
            flex-direction: column;
        }

        img {
            height: 6em;
        }

        ul {
            margin-left: 1em;
            line-height: 1.5;
        }

        li {
            font-size: 1em;
        }
    }

    main {
        text-align: left;
    }

    h1 {
        margin-bottom: 0.5em;
    }

    article {
        ul,
        ol {
            margin-left: 1em;
        }
    }
}
