body:not([data-location=""]) {
    #home {
        display: none;
    }

    nav {
        @media (max-width: 700px) {
            flex-direction: column;
        }

        img {
            height: 6em;
        }

        ul {
            margin-left: 1em;
            line-height: 1.5;
        }

        li {
            font-size: 0.8em;
        }
    }

    $card-gap: 1em;

    main {
        column-count: 2;
        column-gap: $card-gap;
        text-align: left;

        @media (max-width: 650px) {
            column-count: 1;
        }
    }

    article {
        display: grid;
        padding: 2em;
        border: 0.1em solid #000000;
        margin-bottom: $card-gap;
        border-radius: 0.2em;
        break-inside: avoid;
        float: left;
        grid-template-rows: 1fr auto;

        ul,
        ol {
            margin-left: 1em;
        }
    }
}
