<!DOCTYPE html>

<!-- Google Analytics at the top to get the most accurate start time -->
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-TB3PVF6HX3");
</script>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="keywords"
            content="Copywriter, SEO copywriter, Creative Copywriter, Maryland Copywriter, Baltimore Copywriter, Washington DC Copywriter, Crofton copywriter, Marketing Copywriter, Fashion Copywriter, Copy writer, Copy Editor, Freelance Copy writer, Freelance Copywriter, Freelance Writer, Online Writer, Online Copywriter, Creative Writer, Marketing Writer, Digital Copywriter, Elizabeth Toff, Liz Toff"
        />
        <title>Liz Toff</title>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TB3PVF6HX3"></script>
        <noscript>
            <style>
                main > div {
                    display: initial !important;
                }
            </style>
        </noscript>
    </head>
    <body>
        <nav>
            <a href="#"
                ><img
                    src="<%=require('./images/liz-logo-blue-small.png')%>"
                    alt="Elizabeth Toff - Copywriter: Home"
            /></a>
            <span id="start-of-menu"></span>
            <input type="checkbox" title="Menu" role="button" />
            <ul>
                <li><a href="#about-me">about me</a></li>
                <li><a href="#resume">résumé</a></li>
                <!-- <li><a href="#contact">contact</a></li> -->
                <li><a href="#recommendations">recommendations</a></li>
                <li><a href="#editorial-and-brand-copy">editorial &amp; brand copy</a></li>
                <span id="end-of-menu"></span>
            </ul>
        </nav>
        <main>
            <%- include ./html/home.html %> <%- include ./html/conversational-and-relatable.html.ejs
            %> <%- include ./html/out-of-the-box-and-creative.html.ejs %> <%- include
            ./html/elevated-and-knowledgeable.html.ejs %><%- include ./html/about-me.html %> <%-
            include ./html/resume.html %> <%- include ./html/recommendations.html %> <%- include
            ./html/vivid-and-descriptive.html.ejs %> <%- include
            ./html/editorial-and-brand-copy.html %>
        </main>
    </body>
</html>
